<ol class="breadcrumb">
  <li class="active">All Monitors</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/admin/monitors/new" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add Monitor
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table id="monitors-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Created at</th>
                        <th>Monitor</th>
                        <th>Every</th>
                        <th>Via</th>
                        <th>Plugin</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% @monitors.each do |monitor| %>
                        <tr <% if monitor[:status_] == "stopped" %>class="danger" <% end %> >
                            <% id = monitor[:_id] %>
                            <td><a href="/admin/monitors/<%= id%>"><%= id %></a></td>
                            <td><%= DateTime.parse(monitor[:created_at_]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= monitor[:monitor] %></td>
                            <td><%= monitor[:every] %></td>
                            <td><%= monitor[:via].join(", ") rescue "" %></td>
                            <td><%= monitor[:plugin] %></td>
                            <td><%= monitor[:status_] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
              <li class="disabled"><a href="#">Previous Page</a></li>
              <li><a href="#">Next Page</a></li>
            </ul>
        </div>
    </div>
</div>
