<style>
.panel-spacing {
  padding-top: 30px;
}
.editable-table-column:hover {
  outline: dotted grey;
  background: white;
}
.table-select-rows-spacing {
  padding-bottom: 5px;
}
</style>
<script src="/javascripts/monitor.js"></script>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active"><%= @monitor[:monitor] %></li>
</ol>
<div id="message"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="restart-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-repeat"></span> Restart Monitor
        </button>
        <button type="button" id="stop-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-stop"></span> Stop Monitor
        </button>
        <button type="button" id="test-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-tasks"></span> Test Monitor
        </button>
        <button type="button" id="update-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
        <button type="button" id="delete-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span> Delete Monitor
        </button>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#monitor" role="tab" data-toggle="tab">Monitor</a></li>
  <li><a href="#current-state" role="tab" data-toggle="tab">Current State</a></li>
  <li><a href="#notifications" role="tab" data-toggle="tab">Notifications</a></li>
  <li><a href="#failures" role="tab" data-toggle="tab">Failures</a></li>
  <li><a href="#errors" role="tab" data-toggle="tab">Errors</a></li>
</ul>
<div class="tab-content panel-spacing">
    <div class="tab-pane active" id="monitor">
        <div>
            <span class="table-select-rows-spacing pull-right">
                <button type="button" id="restart-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-refresh">
                    </span> Refresh data
                </button>
            </span>
        </div>
        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <% @monitor.each do |key, value| %>
                    <tr>
                        <td><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete field"></span> <%= key %></td>
                        <td >
                            <div id="<%= key %>" class="editable-table-column" contenteditable="true" data-toggle="tooltip" data-placement="top" title="Click to edit">
                                <%= (value.is_a? Array) || (value.is_a? Hash) ? "<pre>#{JSON.pretty_generate(value)}</pre>" : value %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="current-state">
        <div>
            <span class="table-select-rows-spacing pull-right">
                <button type="button" id="restart-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-refresh">
                    </span> Refresh data
                </button>
            </span>
        </div>
        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <% @current_state.each do |key, value| %>
                    <tr>
                        <td><%= key %></td>
                        <td><%= (value.is_a? Array) || (value.is_a? Hash) ? "<pre>#{JSON.pretty_generate(value)}</pre>" : value %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="notifications">
        <% if @notifications.blank? %>
            <div>No notifications to display</div>
        <% else %>
            <div class="">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>Notifier</th>
                        <th>event</th>
                    </tr>
                </thead>
                <tbody>
                    <% @notifications.each do |n| %>
                        <tr>
                            <td><%= DateTime.parse(n[:created_at]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= n[:_id][0...8] %></td>
                            <td><%= n[:notifier] %></td>
                            <td><%= n[:event] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>

    <div class="tab-pane" id="failures">
        <% if @results.blank? %>
            <div>No failures to display</div>
        <% else %>
            <div class="">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>State</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @results.each do |r| %>
                        <tr>
                            <td><%= DateTime.parse(r[:time_of_test]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= r[:_id][0...8] %></td>
                            <td><%= r[:state] %></td>
                            <td>
                              <% r[:test_result].each do |key, value | %>
                                 <%= key %>, <%= value %>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>

    <div class="tab-pane" id="errors">
        <% if @errors.blank? %>
            <div>No errors to display</div>
        <% else %>
            <div class="">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>State</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @errors.each do |r| %>
                        <tr>
                            <td><%= r[:_id][0...8] %></td>
                            <td><%= DateTime.parse(r[:time_of_test]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= r[:state] %></td>
                            <td>
                              <% r[:test_result].each do |key, value | %>
                                 <%= key %>, <%= value %>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>
</div>
