<link rel="stylesheet" type="text/css" href="/jsoneditor/jsoneditor.min.css">
<script type="text/javascript" src="/jsoneditor/jsoneditor.min.js"></script>
<script src="/javascripts/monitor.js"></script>
<span style="display:none" id="monitor-id"><%= @monitor[:_id] %></span>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active"><%= @monitor[:monitor] %></li>
</ol>
<div id="message"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="restart-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-repeat"></span> Restart Monitor
        </button>
        <button type="button" id="stop-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-stop"></span> Stop Monitor
        </button>
        <button type="button" id="test-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-tasks"></span> Test Monitor
        </button>
        <button type="button" id="update-monitor-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
        <button type="button" id="delete-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span> Delete Monitor
        </button>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#monitor" role="tab" data-toggle="tab">Monitor</a></li>
  <li><a href="#current-state" role="tab" data-toggle="tab">Current State</a></li>
  <li><a href="#notifications" role="tab" data-toggle="tab">Notifications</a></li>
  <li><a href="#all-results" role="tab" data-toggle="tab">All results</a></li>
  <li><a href="#failures" role="tab" data-toggle="tab">Failures</a></li>
  <li><a href="#errors" role="tab" data-toggle="tab">Errors</a></li>
</ul>
<div class="tab-content panel-spacing">

    <div id="monitor-editor" style="width: 400px; height: 400px;"></div>

    <div class="tab-pane active" id="monitor">
        <div class="table-options-section">
            <div class="table-select-rows-spacing pull-left">
                <button type="button" id="add-field-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus">
                    </span> Add field
                </button>
            </div>
        </div>
        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                    <th class="tiny-col"></th>
                </tr>
            </thead>
            <tbody id="new-monitor-table">
                <% @monitor.each do |key, value| %>
                    <tr>
                        <% if [:_id,:_rev,:created_at_, :status_, :type].include?(key) %>
                            <td><span class="monitor-field"><%= key %></span></td>
                            <td><span class="monitor-value"><%= value %></span></td>
                            <td></td>
                        <% elsif [:monitor, :every, :via, :plugin].include?(key) %>
                            <td><span class="monitor-field"><%= key %></span></td>
                            <td>
                                <textarea class="monitor-value" rows="1" style="width: 100%;"><%= value %></textarea>
                            </td>
                            <td></td>
                        <% else %>
                            <td>
                                <textarea class="monitor-field" rows="1" style="width: 100%;"><%= key %></textarea>
                            </td>
                            <td>
                                <textarea class="monitor-value" rows="1" style="width: 100%;"><%= value %></textarea>
                            </td>
                            <td>
                                <span class="delete-field glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete field"></span>
                            </td>
                        <% end %>
                    </tr>
                    <script type="text/template" id="unnamed-field-template">
                        <tr>
                            <td>
                                <textarea class="monitor-field" rows="1" style="width: 100%;"></textarea>
                            </td>
                            <td>
                                <textarea class="monitor-value" rows="1" style="width: 100%;"></textarea>
                            </td>
                            <td>
                                <span class="delete-field glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete field"></span>
                            </td>
                        </tr>
                    </script>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="current-state">
        <div class="table-options-section">
            <span class="table-select-rows-spacing pull-right">
                <button type="button" id="restart-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-refresh">
                    </span> Refresh data
                </button>
            </span>
        </div>
        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <% @current_state.each do |key, value| %>
                    <tr>
                        <td><%= key %></td>
                        <td><%= (value.is_a? Array) || (value.is_a? Hash) ? "<pre>#{JSON.pretty_generate(value)}</pre>" : value %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="notifications">
        <% if @notifications.blank? %>
            <div>No notifications to display</div>
        <% else %>
            <div class="table-options-section">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>Notifier</th>
                        <th>event</th>
                    </tr>
                </thead>
                <tbody>
                    <% @notifications.each do |n| %>
                        <tr>
                            <td><%= DateTime.parse(n[:created_at]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= n[:_id][0...8] %></td>
                            <td><%= n[:notifier] %></td>
                            <td><%= n[:event] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>

    <div class="tab-pane" id="all-results">
        <% if @all_results.blank? %>
            <div>No results to display</div>
        <% else %>
            <div class="table-options-section">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>State</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @all_results.each do |r| %>
                        <tr>
                            <td><%= DateTime.parse(r[:time_of_test]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= r[:_id][0...8] %></td>
                            <td><%= r[:state] %></td>
                            <td>
                              <% r[:test_result].each do |key, value | %>
                                 <%= key %>, <%= value %>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>

    <div class="tab-pane" id="failures">
        <% if @failed_results.blank? %>
            <div>No failures to display</div>
        <% else %>
            <div class="table-options-section">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>State</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @failed_results.each do |r| %>
                        <tr>
                            <td><%= DateTime.parse(r[:time_of_test]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= r[:_id][0...8] %></td>
                            <td><%= r[:state] %></td>
                            <td>
                              <% r[:test_result].each do |key, value | %>
                                 <%= key %>, <%= value %>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>

    <div class="tab-pane" id="errors">
        <% if @errors.blank? %>
            <div>No errors to display</div>
        <% else %>
            <div class="table-options-section">
                <span class="table-select-rows-spacing pull-right">
                    <button type="button" id="restart-button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh">
                        </span> Refresh data
                    </button>
                </span>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>id</th>
                        <th>State</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @errors.each do |r| %>
                        <tr>
                            <td><%= r[:_id][0...8] %></td>
                            <td><%= DateTime.parse(r[:time_of_test]).strftime("%H:%M %m/%d/%Y") %></td>
                            <td><%= r[:state] %></td>
                            <td>
                              <% r[:test_result].each do |key, value | %>
                                 <%= key %>, <%= value %>
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <span class="pull-left">Showing 1-15 of 300 rows.</span>
            <span class="pull-right">
                Show
                <select name="select">
                    <option value="value1" selected>15</option>
                    <option value="value2">35</option>
                    <option value="value3">65</option>
                    <option value="value3">100</option>
                </select> Rows
            </span>
            <ul class="pager">
                <li class="disabled"><a href="#">Previous Page</a></li>
                <li class="disabled"><a href="#">Next Page</a></li>
            </ul>
        <% end%>
    </div>
</div>
